<div class="ui stackable grid container">
    <div class="row">
        <h1>Contact Us</h1>
    </div>
    <div class="ui divider"></div>
    <div class="row">
        <div class="four wide column">
            <div class="ui list">
                <div class="item">
                    <i class="users icon"></i>
                    <div class="content">Explosion Team</div>
                </div>
                <div class="item">
                    <i class="marker icon"></i>
                    <div class="content">Hanoi, Vietnam</div>
                </div>
                <div class="item">
                    <i class="mail icon"></i>
                    <div class="content">
                        <a href="mailto:explosionteam@gmail.com">explosionteam@gmail.com</a>
                    </div>
                </div>
                <div class="item">
                    <i class="linkify icon"></i>
                    <div class="content">
                        <a href="http://www.onevietnam.com/">onevietnam.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui embed active" data-source="google-maps" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4774439936423!2d105.52471931432818!3d21.013573993673774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ca5086d%3A0xa3c62e29d8ab37e4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQ!5e0!3m2!1svi!2s!4v1467210493601" data-icon="right circle arrow">
                <div class="embed"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4774439936423!2d105.52471931432818!3d21.013573993673774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ca5086d%3A0xa3c62e29d8ab37e4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQ!5e0!3m2!1svi!2s!4v1467210493601" width="100%" height="100%" frameborder="0" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</div>