<div class="homepage">
    <h2 class="ui center aligned icon" style="font-size: 3em; padding-top: 10%">        
        <span style="color: #000000; text-shadow: 1px 1px black">Kết nối cộng đồng người Việt</span>
    </h2>

    @if (!User.Identity.IsAuthenticated)
    {
        @*<a class="ui primary button" style="background: linear-gradient(to left, #2185D0, #2185D0)" href="@Url.Action("Register","Account")">
            Đăng Ký Ngay
            <i class="forward icon"></i>
        </a>*@
    }

    
</div>
