<div class="homepage">
    <h2 class="ui center aligned icon header" style="font-size: 4em">
        @*<img class="ui image" src="~/Content/Images/Logo.png"/>*@
        <span style="color: #000000; text-shadow: 1px 1px black">Kết Nối Cộng Đồng Người Việt</span>
    </h2>

    @if (!User.Identity.IsAuthenticated)
    {
        <a class="ui primary button" href="@Url.Action("Register","Account")">
            Đăng Ký Ngay
            <i class="forward icon"></i>
        </a>
    }

    
</div>
