@model  OneVietnam.Models.UserViewModel
@{
    ViewBag.Title = "Index";
}
<div class="ui blue inverted segment">
    <div class="ui centered header">
        Tủ lạnh
    </div>
</div>
<div class="ui grid" style="background-color:#F0F0ED">
    <div class="four wide column">
@*        <div class="ui left fixed vertical text menu">*@
@*            <div class="header item">Sort By</div>*@
@*            <a class="active item">*@
@*                Closest*@
@*            </a>*@
@*            <a class="item">*@
@*                Most Comments*@
@*            </a>*@
@*            <a class="item">*@
@*                Most Popular*@
@*            </a>*@
@*        </div>*@
    </div>
    <div class="nine wide column">
        <div class="ui pointing secondary three item tabular menu">
    <div class="item active" data-tab="popular">
        Nổi Bật
    </div>
    <div class="item " data-tab="post">
        Bài Viết
    </div>
    <div class="item" data-tab="friend">
        Bạn Bè
    </div>

</div>
        <div class="ui tab active" data-tab="popular">
        </div>
            <div class="ui tab" data-tab="post" >
@*                @{*@
@*                    if (Model.PostList != null && Model.PostList.Count > 0)*@
@*                    {*@
@*                        <div class="grids">*@
@*                            <div class="grid-sizer"></div>*@
@*                            <div class="gutter-sizer"></div>*@
@*                            @{*@
@*                                foreach (var postView in Model.PostList)*@
@*                                {*@
@*                                    @Html.Partial("../Shared/_ShowPostDetail", postView)*@
@*                                }*@
@*                            }*@
@*                        </div>*@
@*                                }*@
@*                }*@
            </div>
        <div class="ui tab" data-tab="friend">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                @Html.Partial("_UserCard", @Model)
          
                
            </div>

        @*@Html.Action("_ShowPostDetail", "Post", new { postId = "123"})*@
@*        @foreach (var post in Model)*@
@*        {*@
@*$1$            @Html.Partial("_ShowPostDetail", post)#1#*@
@*        }*@
    </div>
    <div class="three wide column"></div>
</div>