@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Map/infoWindow.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <div>
        <div style="overflow:hidden;">
        <div id="iw-container">
            <div class="iw-title">Đạt đẹp zai\'s profile</div>
            <div class="iw-content">
                <div id="navInfo">
                    <img src="../Images/dat.jpg" alt="Trần Trọng Tiến Đạt" height="115" width="115">
                </div>
                <div id="sectionInfo">
                    <table style="width:200px">
                        <tr>
                            <td><b>Địa điểm:</b></td>
                            <td>Oosaka</td>
                        </tr>
                        <tr>
                            <td><b>Facebook:</b></td>
                            <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                        </tr>
                        <tr>
                            <td><b>Đang offer:</b></td>
                            <td>Cho thuê nhà trọ</td>
                        </tr>
                        <tr>
                            <td><b>Thông tin khác:</b></td>
                            <td>abcxyz</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="iw-bottom-gradient"></div>
    </div>;
    </div>
</body>
</html>
