<div id="mySidenav" class="sidenav scrollbar" style="position:absolute;left:0px;top:0px;">
    <div id="wrapper" class="segment" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
        <div class="iw-content" style="padding:5px;">
            <div id="navInfo" style="margin-left:3px;">
                <img src="../Content/Images/pikachu.jpg" alt="Trần Trọng Tiến Đạt" height="115" width="115">
            </div>
            <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                <table style="width:200px">
                    <tr>
                        <td><b>Địa điểm:</b></td>
                        <td>Oosaka</td>
                    </tr>
                    <tr>
                        <td><b>Facebook:</b></td>
                        <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                    </tr>
                    <tr>
                        <td><b>Đang offer:</b></td>
                        <td>Cho thuê nhà trọ</td>
                    </tr>
                    <tr>
                        <td><b>Thông tin khác:</b></td>
                        <td>abcxyz</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
        <div class="iw-content" style="padding:5px;">
            <div id="navInfo" style="margin-left:3px;">
                <img src="../Content/Images/rua.png" alt="Trần Trọng Tiến Đạt" height="115" width="115">
            </div>
            <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                <table style="width:200px">
                    <tr>
                        <td><b>Địa điểm:</b></td>
                        <td>Oosaka</td>
                    </tr>
                    <tr>
                        <td><b>Facebook:</b></td>
                        <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                    </tr>
                    <tr>
                        <td><b>Đang offer:</b></td>
                        <td>Cho thuê nhà trọ</td>
                    </tr>
                    <tr>
                        <td><b>Thông tin khác:</b></td>
                        <td>abcxyz</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
        <div class="iw-content" style="padding:5px;">
            <div id="navInfo" style="margin-left:3px;">
                <img src="../Content/Images/poke_celebi.png" alt="Trần Trọng Tiến Đạt" height="115" width="115">
            </div>
            <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                <table style="width:200px">
                    <tr>
                        <td><b>Địa điểm:</b></td>
                        <td>Oosaka</td>
                    </tr>
                    <tr>
                        <td><b>Facebook:</b></td>
                        <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                    </tr>
                    <tr>
                        <td><b>Đang offer:</b></td>
                        <td>Cho thuê nhà trọ</td>
                    </tr>
                    <tr>
                        <td><b>Thông tin khác:</b></td>
                        <td>abcxyz</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
        <div class="iw-content" style="padding:5px;">
            <div id="navInfo" style="margin-left:3px;">
                <img src="../Content/Images/chov.png" alt="Trần Trọng Tiến Đạt" height="115" width="115">
            </div>
            <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                <table style="width:200px">
                    <tr>
                        <td><b>Địa điểm:</b></td>
                        <td>Oosaka</td>
                    </tr>
                    <tr>
                        <td><b>Facebook:</b></td>
                        <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                    </tr>
                    <tr>
                        <td><b>Đang offer:</b></td>
                        <td>Cho thuê nhà trọ</td>
                    </tr>
                    <tr>
                        <td><b>Thông tin khác:</b></td>
                        <td>abcxyz</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
        <div class="iw-content" style="padding:5px;">
            <div id="navInfo" style="margin-left:3px;">
                <img src="../Content/Images/pikachu.jpg" alt="Trần Trọng Tiến Đạt" height="115" width="115">
            </div>
            <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                <table style="width:200px">
                    <tr>
                        <td><b>Địa điểm:</b></td>
                        <td>Oosaka</td>
                    </tr>
                    <tr>
                        <td><b>Facebook:</b></td>
                        <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                    </tr>
                    <tr>
                        <td><b>Đang offer:</b></td>
                        <td>Cho thuê nhà trọ</td>
                    </tr>
                    <tr>
                        <td><b>Thông tin khác:</b></td>
                        <td>abcxyz</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
        <div class="iw-content" style="padding:5px;">
            <div id="navInfo" style="margin-left:3px;">
                <img src="../Content/Images/chov.png" alt="Trần Trọng Tiến Đạt" height="115" width="115">
            </div>
            <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                <table style="width:200px">
                    <tr>
                        <td><b>Địa điểm:</b></td>
                        <td>Oosaka</td>
                    </tr>
                    <tr>
                        <td><b>Facebook:</b></td>
                        <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                    </tr>
                    <tr>
                        <td><b>Đang offer:</b></td>
                        <td>Cho thuê nhà trọ</td>
                    </tr>
                    <tr>
                        <td><b>Thông tin khác:</b></td>
                        <td>abcxyz</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
