@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@font-face {
    font-family: track;
    src: url("/fonts/iCiel Altus.otf");
}

*, *:before, *:after {
  box-sizing: border-box;
}


 .carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

.fileUpload { position: relative; overflow: hidden; margin-bottom: 5px; margin-top:5px; }
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
.deleteDiv{ position:relative; top:-160px; left:130px; width:30px;height:30px;}
.imageBlock{display: inline-block;}
.thumb{width:159px; height:159px;}
.deleteIcon{width:30px; height:30px;}


a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}
.thumb{width:159px; height:159px;border: 1px solid #000;
    margin-right: 20px;}
   

.containers {
  margin: 0 auto;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;  
}

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;

  background-repeat:no-repeat;
background-position: center center
  z-index:-1;
 -moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  transform-origin:0 0;
  
  -webkit-backface-visibility: hidden; 
  
}

.cover {
  position: absolute;
  top: 240px;
    height: 182px;
    width: 180px;
  left: 40px;
  border-style: solid;
    border-width: 5px;
    border-color: #fff;
    -moz-border-radius: 15px;
    border-radius: 15px;
  z-index: 2;
}

.edit-avatar {
    cursor: pointer;
    opacity: 0.3;
    position: absolute;
  top: 245px;
  left: 184px;
  z-index: 3;
}
/*.edit-avatar:hover {
    opacity: 1;
    position: absolute;
  top: 165px;
  left: 184px;
  z-index: 3;
}*/
.edit-cover {
    cursor: pointer;
    opacity: 0.3;
    position: absolute;
  top: 5px;
  right: 0px;
  z-index: 3;
}
/*.edit-cover:hover {
    opacity: 1;
    position: absolute;
  top: 5px;
  left: 0px;
  z-index: 3;
}*/
.details {
    padding: 190px 0 0 280px;
}
  
.title1{
    color: white;
    font-size: 25px;
    top: 290px;
    left: 230px;
    position: absolute;
}
    


  .title2 {    
    color: #C7C1BA;
    font-size: 23px;    
    font-weight: 300;
    margin-bottom: 15px;
  }
  
  
  .likes {
    margin-left: 24px;
  }
  
  
  .likes:before {
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
    position: relative;
    top: 2px;
    padding-right: 7px;
  }



/*.description {
  
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  
}*/

.column1 {
  padding-left: 50px;
  padding-top: 120px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 680px;
  float: left;
}


  img {
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: none;
  }



fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}







.hides {
    display: none!important;
}
.shrink {
    margin: 0 auto !important;
    max-width: 700px;
    margin-top: 10% !important;
}

body {
    background: #A7D2CB;
}
.mainMenu {
    background: transparent!important;
    box-shadow: none!important;
    border: none!important;
}
.ui.menu .item:before {
    width: 0px !important;
}

.validation-summary-errors {
    background-color: #FFE8E6;
    color: #DB2828;
    font-size: 1em;
    position: relative;
    min-height: 1em;
    margin: 1em 0em;    
    padding: 0.5em 0.5em;
    line-height: 1.4285em;   
    -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
    transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
    border-radius: 0.28571429rem;
    box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.22) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-sizing: inherit;
}
.input-validation-error{
    background-color: #FFE8E6!important;
}
.input-error-message {
    color: #DB2828;
    text-align: left !important;
}
.ui.main.menu {
    width: 100%;
}
.ui.vertical.menu.open{
	margin-top: -15px !important;	
	display: none;
}
.brand {
    color: red !important;
}

/*ThamDTH Add*/
.fb-comments > span {
    width: 100% !important;
}
.fb-comments > span >iframe {
     width: 100% !important;
}
#uiSearch {
    width: 300px;
}
.force100 {
    width: 100% !important;
}
/*ToanLM*/
#return-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 13px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #C06014;
  position: fixed;
  bottom: 30px;
  left: 40px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}
.plus{
  color: white;
  
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 21px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}
.edits{
     color: white;
  
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 300;
  opacity: 0;
 
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}
@keyframes edit-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}
.edits-cl{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.plus-cl{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/* 5 columns, percentage width */



/* clear fix */


/* ---- .grid-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 32%;
}

.grid-item {
     
    margin-bottom :22px;
}


.gutter-sizer { width: 2%; }




.ui.dropdown.searchType {
    min-width: 0em !important;
    width: 8em !important;
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ui.user {
    display: none;
}
.ui.post {
    display: inline-flex
}
.ui.search .prompt {
    border-radius: 0.28571429rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 1em !important;    
}
 .modals,.modal{
    z-index: 20;   
}


/* fill-in selected dot */

.messages {
    position: absolute !important;
    background: white;
    top: 100%;
    right: 0%;
    width: 200px;
    margin-top: 0.5em!important;
    padding: 0.5em !important;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
}
.homepage {
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    text-align: center;    
}