.hides {
    display: none;
}
.shrink {
    margin: 0 auto !important;
    max-width: 700px;
    margin-top: 10% !important;
}

body {
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.validation-summary-errors {
    background-color: #FFE8E6;
    color: #DB2828;
    font-size: 1em;
    position: relative;
    min-height: 1em;
    margin: 1em 0em;    
    padding: 0.5em 0.5em;
    line-height: 1.4285em;   
    -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
    transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
    border-radius: 0.28571429rem;
    box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.22) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-sizing: inherit;
}
.input-validation-error{
    background-color: #FFE8E6!important;
}
.input-error-message {
    color: #DB2828;
    text-align: left !important;
}
.ui.main.menu {
    width: 100%;
}
.ui.vertical.menu.open{
	margin-top: -15px !important;	
	display: none;
}
.brand {
    color: red !important;
}

/*ThamDTH Add*/
.fb-comments > span {
    width: 100% !important;
}
.fb-comments > span >iframe {
     width: 100% !important;
}
#uiSearch {
    width: 300px;
}
.force100 {
    width: 100% !important;
}
/*ToanLM*/
#return-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 13px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  left: 40px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}
.plus{
  color: white;
  
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 21px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}
.edits{
     color: white;
  
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 300;
  opacity: 0;
 
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}
@keyframes edit-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}
.edits-cl{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.plus-cl{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/* 5 columns, percentage width */



/* clear fix */


/* ---- .grid-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 48%;
}

.grid-item {
     
    margin-bottom :22px;
  float: left;
}


.gutter-sizer { width: 4%; }

 .gigante { width:48%; }


.ui.dropdown.searchType {
    min-width: 0em !important;
    width: 7em !important;
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ui.user {
    display: none;
}
.ui.post {
    display: inline-flex
}
.ui.search .prompt {
    border-radius: 0.28571429rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 1em !important;    
}
 .modals,.modal{
    z-index: 20;   
}


/* position dots up a bit */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}