
@model OneVietnam.Models.ReportViewModel
<div class="ui small report modal coupled">
    <div class="header">
        Gửi báo cáo vi phạm
    </div>
@using (Ajax.BeginForm("ReportUser", "Timeline", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ShowReportUser"
}))
{

        <div class="content">
            <div class="field">
                <div class="ui form">
                    @Html.TextAreaFor(model => model.ReportDescription, new {placeholder = "Nội dung muốn báo cáo", rows = "6"})
                </div>
                <div style="display: none">                    
                    @Html.EditorFor(model => model.UserId)                    
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Hủy</div>
            <input class="ui green button" id="submitReport" value="Gửi" type="submit"/>
        </div>        
    }
</div>


<div class="ui small second modal">
    <div class="header" style="text-align: center">
        Xin cảm ơn
    </div>
    <div class="content" style="text-align: center">
        Chúng tôi đã nhận được báo cáo của bạn về người dùng này.<br/>
        Chúng tôi sẽ xem xét kỹ lưỡng trang cá nhân của người dùng.<br/>
        Rất cảm ơn các bạn đã đóng góp cho OneVietnam.
    </div>
    <div class="actions">
        <div class="ui cancel button">Đóng</div>        
    </div>
</div>