
@using Microsoft.AspNet.Identity
@model OneVietnam.Models.TimelineViewModel
@{
    ViewBag.Title = "Timeline";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/timeline.js"></script>
@if (Model != null) //TODO them dieu kien user chua bi lock
{
    <div class="ui tabular menu">
        <div class="item active" data-tab="timeline">Dòng thời gian</div>
        <div class="item" data-tab="profile" onclick="showProfileForm('@Model.Id')">Giới thiệu</div>
        @if (Model.Id.Equals(User.Identity.GetUserId()))
        {
        <div class="item" data-tab="setting" onclick="showTwoFactorAuthen('@Model.Id')">Cài đặt</div>
        }

    </div>
    <div class="ui tab active" data-tab="timeline">
        @{
            if (Model.PostList != null && Model.PostList.Count > 0)
            {
        <div style="margin: auto; width: 40%">
            @{
                        foreach (var postView in Model.PostList)
                        {
            @Html.Partial("../Post/_ShowPostDetail", postView)
                        }
            }

        </div>

            }
        }


    </div>
    <div class="ui tab" data-tab="profile">
        @*Show profile*@
        @if (Model.Id.Equals(User.Identity.GetUserId()))
        {
        <input type="button" value="Sửa" id="btnEdit" onclick="showEditProfileForm()" />
        }
        <div id="ShowProfile"></div>
        <div id="EditProfile"></div>

    </div>

                if (Model.Id.Equals(User.Identity.GetUserId()))
                {
                    <div class="ui tab" data-tab="setting">
                        <div id="ShowTwoFactorAuthen"></div>
                    </div>
                    }
                }
                else
                {
                    <div style="margin: auto; width: 40%">
                        <div class="ui segment">
                            <div class="ui centered header">
                                <i class="warning circle icon"></i>
                                Trang bạn tìm kiếm đã bị xóa hoặc không tồn tại
                            </div>
                        </div>
                    </div>

                }
