
@{
    ViewBag.Title = "ShowAdminPanel";
}
<div class="ui grid">
    <div class="five wide column">
        <div class="ui segment"></div>
    </div>
    <div class="eleven wide column">
        <div class="ui segment"></div>
    </div>
</div>

