
@model OneVietnam.Models.PostViewModel

@{
    ViewBag.Title = "ShowPostDetail";
}

@if (Model != null && (Model.DeletedFlag == false) && (Model.LockedFlag == false))
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    if (Model.PostType == 0)
    {
        <div class="ui grid">
            <div class="three wide column"></div>
            <div class="ten wide column">
                @Html.Partial("../Shared/_AdminPostDetail", Model)
            </div>
            <div class="three wide column"></div>
        </div>
    }
    else
    {
        <div class="ui grid">
            <div class="three wide column"></div>
            <div class="ten wide column">
                @Html.Partial("../Newsfeed/_ShowPostDetail", Model)
            </div>
            <div class="three wide column"></div>
        </div>
    }

}
else
{
    @Html.Partial("../Shared/_NoSearchResult")
}




