<div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui icon positive  floating message">
            <i class="trophy icon"></i>
            <div class="content">
                <div class="header">
                    Xác nhận thành công!
                </div>
                <p>
                   Chào mừng bạn gia nhập gia đình OneVietNam, @Html.ActionLink(" click để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>

        </div>
    </div>
</div>