

<div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui icon negative  floating message">
            <i class="warning cirlce icon"></i>
            <div class="content">
                <div class="header">
                    Không thể đăng nhập!
                </div>
                <p>
                   Vui lòng kiểm tra lại thông tin đăng nhập của bạn!
                </p>
            </div>

        </div>
    </div>
</div>