<div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui icon positive  floating message">
            <i class="archive icon"></i>
            <div class="content">
                <div class="header">
                    Đường dẫn để đặt lại mật khẩu đã được gửi
                </div>
                <p>
                    Bạn hãy kiểm tra hòm thư của bạn để đặt lại mật khẩu
                </p>
            </div>

        </div>
    </div>
</div>
	
