@model OneVietnam.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Bạn Quên Mật Khẩu?";
}

<div class="ui center middle aligned segment grid shrink">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "ui form", role = "form" }))
    {
        @Html.AntiForgeryToken()        
        <div class="ui horizontal divider">
            <h2>Nhập Email Để Đặt Lại Mật Khẩu</h2>
        </div>
        <div class="field">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "input-error-message" })
            <div class="ui left icon corner labeled input">
                <i class="user icon"></i>
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>        
        <button class="ui blue button" type="submit">Gửi Link</button>
    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
