@model IEnumerable<OneVietnam.DTL.Country>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <select class="input-large form-control" id="CountryName" name="CountryName" onchange="form.submit();">
        @foreach (var item in Model)
                {
                    if (@item.CountryName == ViewBag.SelectedCountry)
                    {
                <option @*id=@item.CountryName*@ selected="selected">
                    @item.CountryName
                </option>
            }
            else
            {
                <option @*id=@item.CountryName*@>
                    @item.CountryName
                </option>
            }

        }
    </select>
    <img id="img_countryIcon" alt="countryIcon" src="data:image/png;base64,@System.Convert.ToBase64String(ViewBag.CountryIcon)" />

}
