
@model OneVietnam.Models.PostViewModel

@{
    ViewBag.Title = "ShowPostDetail";        

}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="~/Content/image-slider.css">
<div style="margin: auto; width: 40%">
    <input type="button" id ="btnShow" value="Show detail" onclick=""/>
    <script>
        $("#btnShow")
            .click(function() {
                var param = {
                    postId: '@Model.Id'
                };
                $.ajax({
                    type: 'GET',
                    url: '_ShowPostDetail',
                    data: param,
                    success: function (partialResult) {
                        $("#ShowPostDetail").html("");
                        $("#ShowPostDetail").html(partialResult);
                                            
                    }

                });

                $(".ui.modal").modal('show');
            });
    </script>
    <div id="ShowPostDetail" class="ui modal">

    </div>

    @*@Html.Partial("../Post/_ShowPostDetail", Model)*@
</div>