
@model OneVietnam.Models.PostViewModel

@{
    ViewBag.Title = "ShowPostDetail";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div style="margin: auto; width: 40%">
    @if (Model != null && (Model.DeletedFlag == false) && (Model.LockedFlag == false))
    {
        @Html.Partial("../Post/_ShowPostDetail", Model)
    }
    else

    {
        @Html.Partial("../Shared/_NoSearchResult")
    }

</div>