@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "ui form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
        }
    </div>
    <div class="ui item">        
        <div>
            <i class="talk icon" id="chatchat"></i>
        </div>
        <div class="segment" id="messagechat" style="display: block">
            <p>Hello world</p>
        </div>
    </div>
    <div class="item">
        <a href="javascript:document.getElementById('logoutF    orm').submit()">
            <i class="power icon"></i>
        </a>
    </div>
}
else
{
    <div class="item">
        @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid primary button" })
    </div>
    <div class="item">
        @Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid primary button" })
    </div>
}
