@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ui form" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="item">
            @Html.ActionLink("Hi " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </div>
        <div class="item">
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>            
        </div>
    }
}
else
{    
    <div class="item">        
        @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new {@class="ui fluid primary button"})        
    </div>
    <div class="item">
        @Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid primary button" })        
    </div>    
}
