@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "ui form"}))
        {
            @Html.AntiForgeryToken()
            @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})*@
            @Html.ActionLink(User.Identity.GetUserName(), "Timeline", "Timeline", routeValues: new {userId = User.Identity.GetUserId()}, htmlAttributes: new { id = "txtHeaderUserName" })
        }
    </div>
    <div class="item">        
        <div>            
            <i class="talk icon" data-content="Tin Nhắn" data-variation="small" id="messageIcon"></i>            
        </div>
        <div class="ui items messages" style="display: none" id="messages">
            <a role="button" href="">
                <div class="item">
                    @*<a class="ui avatar image">
                        <img src="~/Content/DemoAvatar.png" />
                    </a>*@
                    @*<img src="~/Content/DemoAvatar.png" />*@
                    <div class="content">
                        @*<a href="">MinhTai</a>*@
                        <div class="description">
                            <p>Xin Chao Moi nguoi</p>
                        </div>
                    </div>
                </div>
            </a>
            <a role="button" href="">
                <div class="item">
                    @*<a class="ui avatar image">
                    <img src="~/Content/DemoAvatar.png" />
                </a>*@
                    @*<img src="~/Content/DemoAvatar.png" />*@
                    <div class="content">
                        @*<a href="">MinhTai</a>*@
                        <div class="description">
                            <p>Xin Chao Moi nguoi</p>
                        </div>
                    </div>
                </div>
            </a>
            @*<div class="item">
                <a class="ui avatar image">
                    <img src="~/Content/DemoAvatar.png"/>
                </a>
                <div class="content">
                    <a href="">MinhTai</a>
                    <div class="description">
                        <p>Xin Chao Moi nguoi</p>
                    </div>
                </div>
            </div>*@            
        </div>
    </div>
    <div class="item">
        <a href="javascript:document.getElementById('logoutForm').submit()">
            <i class="power icon"></i>
        </a>
    </div>
}
else
{
    <div class="item">
        @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid primary button" })
    </div>
    <div class="item">
        @Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid primary button" })
    </div>
}
