
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
@using Microsoft.AspNet.Identity
@model List<OneVietnam.Models.PostViewModel>
 
     @foreach (var post in Model)
     {
         @Html.Partial("_ShowPostDetail",post)
         
     }