@model OneVietnam.Models.UserViewModel
<div class="ui link card">
  
    <div class="content">
        <img class="right floated mini ui image" src="@Model.Avatar">
        <div class="header">
            @Model.UserName
        </div>
        <div class="meta">
            @Model.Location.Address
        </div>
        <div class="description">
            We should have something like a description field about user ex they self introduce.. don't u think?
        </div>
    </div>
    <div class="extra content">
        <div class="ui two buttons">
            <div class="ui basic green button">Nhắn tin</div>
            <div class="ui basic red button">Theo dõi</div>
        </div>
    </div>
</div>