@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi!";
}
<div class="ui message">
    <div class="header">
        Lỗi
    </div>
    @{
        if (String.IsNullOrEmpty(ViewBag.errorMessage))
        {            
            <p>An error occurred while processing your request.</p>
        }
        else
        {            
            <p>@ViewBag.errorMessage</p>
        }
    }    
</div>