@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}
<div class="ui message">
    <div class="header">
        Tài Khoản Bị Khóa
    </div>
    <p>Tài Khoản Của Bạn Tạm Thời Bị Khóa Để Đảm Bảo An Toàn, Hãy Đăng Nhập Lại Sau @ViewBag.LockedDuration Phút.</p>
</div>