@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Tạm Khóa Tài Khoản</h1>
    <h2 class="text-danger">Tài Khoản Của Bạn Tạm Thời Bị Khóa Để Đảm Bảo An Toàn, Hãy Đăng Nhập Lại Sau @ViewBag.LockedDuration Phút</h2>
</hgroup>
