<div style="padding-top: 50px;">
    Demo - TimeLine
</div>
<br />
@using OneVietnam.DTL
<table class="table table-striped table-bordered table-condensed infinite-scroll">
    <thead>
        <tr>
            <th>key</th>
            <th>title</th>
            <th>PublishDate</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_PostRow", (ViewBag.Posts as Dictionary<int, Post>))
    </tbody>
</table>
@Html.Partial("_Loading")
@section scripts{
    <script src="~/Scripts/infiniteScroll.js"></script>
    <script type="text/javascript">
        $(function () {
            $("div#loading").hide();
        });
        var moreRowsUrl = '@Url.RouteUrl("PostList")';
        $(window).scroll(scrollHandler);
    </script>
}
